<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button (click)="regresar()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="7">
        <p>Niños</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/images/ninio.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Line7
          </ion-card-title>
          <p>Comodidad elegancia y moda</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/images/ninio2.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Line7
          </ion-card-title>
          <p>Comodidad elegancia y moda</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <img src="assets/images/ninio3.jpg"/>
        <ion-card-content>
          <ion-card-title>
            Line7
          </ion-card-title>
          <p>Comodidad elegancia y moda</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons collapse="true" align="center">
      <ion-button>
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
